:root {
    --dark: #222222;
    --light: #FEFEFE;
    --link-bg: #CCCCCC;
    --link-color: var(--dark);
    --link-hover-bg: #999999;
    --link-hover-color: var(--dark);
    --link-active-bg: var(--dark);  
    --link-active-bg: var(--light);   
    --link-active-color: rgb(100, 100, 100); 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: var(--dark);
    background-color: var(--light);
}

.nav-links {
    list-style: none;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--dark);
    background: var(--link-bg);
}

.nav-item:hover a {
    color: var(--link-hover-color);
    background: var(--link-hover-bg);
}

nav {
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
}

.logo {
    display: inline-block;
}

.logo img {
    height: 50px;
    vertical-align: middle;
}

.active a {
    background-color: var(--link-active-color);
    color: var(--link-active-bg);
}